<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibLog" version="4.2.6" targetFramework="net472" developmentDependency="true" />
  <package id="Nancy" version="2.0.0-pre1908" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="RestSharp" version="106.2.2" targetFramework="net472" />
</packages>